In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df = pd.read_csv(r"C:\Users\deepu\Downloads\week1 climate-risk-management\district_wise_details.csv")

In [7]:
print("ðŸ”¹ Original Dataset Shape:", df.shape)
df.head()

ðŸ”¹ Original Dataset Shape: (14, 7)

,district,fatalities,no_of_camps,actual_rainfall_in_mm,normal_rainfall_in_mm,no_of_landslides,full_damaged_houses
0,Thiruvananthapuram,11,94,373.8,142.0,0,111
1,Kollam,5,168,644.1,258.7,2,95
2,Pathanamthitta,3,4352,764.9,352.7,8,741
3,Alappuzha,43,2126,608.2,343.1,0,2075
4,Kottayam,14,788,619.2,386.0,29,76

In [8]:
print("\nðŸ”¹ Missing Values Before Cleaning:")
print(df.isnull().sum())

ðŸ”¹ Missing Values Before Cleaning:
district                 0
fatalities               0
no_of_camps              0
actual_rainfall_in_mm    0
normal_rainfall_in_mm    0
no_of_landslides         0
full_damaged_houses      0
dtype: int64

In [9]:
df.fillna(df.mean(numeric_only=True), inplace=True)

In [10]:
for col in df.select_dtypes(include=["object"]).columns:
    df[col] = df[col].fillna(df[col].mode()[0])

print("\nðŸ”¹ Missing Values After Cleaning:")
print(df.isnull().sum())

ðŸ”¹ Missing Values After Cleaning:
district                 0
fatalities               0
no_of_camps              0
actual_rainfall_in_mm    0
normal_rainfall_in_mm    0
no_of_landslides         0
full_damaged_houses      0
dtype: int64

In [11]:
print("\nðŸ”¹ Number of Duplicate Rows:", df.duplicated().sum())
df.drop_duplicates(inplace=True)
print("ðŸ”¹ Dataset Shape After Removing Duplicates:", df.shape)

ðŸ”¹ Number of Duplicate Rows: 0
ðŸ”¹ Dataset Shape After Removing Duplicates: (14, 7)

In [12]:
print("\nðŸ”¹ Data Types After Cleaning:")
print(df.dtypes)

ðŸ”¹ Data Types After Cleaning:
district                  object
fatalities                 int64
no_of_camps                int64
actual_rainfall_in_mm    float64
normal_rainfall_in_mm    float64
no_of_landslides           int64
full_damaged_houses        int64
dtype: object

In [13]:
df.to_csv("cleaned_dataset.csv", index=False)
print("\nâœ… Cleaned dataset saved as 'cleaned_dataset.csv'")

âœ… Cleaned dataset saved as 'cleaned_dataset.csv'